.page-item.active .page-link {
  background-color: #212120;
  border-color: #212120;
}

.page-link {
  color: #212120;
}

.sidebar,
.off-canvas-sidebar {
  .nav {
    flex-direction: column;
    li {
      position: relative;
      display: flex;
      align-items: center;
      a {
        width: 100%;
        margin: 1px 0;
        padding-left: 25px;
        padding-right: 25px;
        opacity: .7;
      }
    }
  }
}

.sidebar[data-active-color="success"] .nav li.active > a,
.off-canvas-sidebar[data-active-color="success"] .nav li.active > a {
  color: #41B883;
  opacity: 1;
}

.archive-posts {
  .form-control {
    padding: 0 !important;
  }
}

.navbar-header .navbar-toggle {
  margin: 10px 15px 10px 0;
  width: 40px;
  height: 30px;
  display: none !important;
  justify-content: space-around;
  align-items: self-end;
  flex-direction: column;
  background: transparent;
  &.toggled {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .navbar-header .navbar-toggle.toggled {
    display: block;
  }
  .navbar-header .navbar-toggle {
    display: flex !important;
  }
  .wrapper .sidebar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #999;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    left: auto;
    transform: translate3d(230px, 0, 0) !important;
    transition: all .5s cubic-bezier(.685, .0473, .346, 1);
  }

  .navbar-header {
    display: flex;
    justify-content: space-between;
  }
}

.navbar .navbar-toggler .navbar-toggler-bar {
  background: #66615b;
}

.navbar-toggle .icon-bar {
  margin-top: 4px;
  background: #66615b;
}

.form-control {
  background: white;
}

@media (min-width: 992px) {
  .card form [class*="col-"] {
    padding: 15px;
  }
}

.card {
  .prev-img {
    width: 250px;
    height: 250px;
    img {
      max-width: 100%;
      max-height: 250px;
    }
  }
}

input.is-danger,
.is-danger input,
.is-danger .form-control.border-input {
  border-color: #dc3545;
}

.error {
  color: #dc3545;
}

.add-product .prev-img {
  position: relative;
  overflow: hidden;
  display: flex;
  .img {
    margin: 0 auto;
    width: 100%;
    //padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .remove-img {
    cursor: pointer;
    background: #FFE28C;
    color: #BB992F;
    width: calc(100% - 30px);
    height: 25px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    right: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 24px;
    }
  }
}

.card .content .row {
  margin-right: 0;
  margin-left: 0;
}