<template>
    <div class="actions">
        <button
                class="btn btn-nepal-glassy mb-1"
                @click="xprops.replyMessage(row)"
        >
            <i class="fa fa-pencil"></i> Reply
        </button>
        <button
                class="btn btn-nepal-glassy del-btn mb-1"
                @click="xprops.showDelete(row)"
        >
            <i class="fa fa-trash"></i> Delete
        </button>
    </div>
</template>

<script>
    export default {
        name: "ActionComponent",
        props: {
            row: {
                type: Object
            },
            xprops: {
                type: Object
            }
        }
    }
</script>

<style scoped>

</style>
