<template>
    <div :class="[ row.status == 'read' ? 'read' : 'unread' ]">
       {{row.status}}
    </div>
</template>

<script>
    export default {
        name: "StatusMessege",
        props: {
            row: {
                type: Object
            },
        },
        data() {
            return {}
        }
    }
</script>

<style scoped>
    .read{
        color: green;
    }
    .unread{
        color: orange;
        font-weight: bold;
    }
</style>