<template>
    <div>
        <nav-bar></nav-bar>
        <transition name="fade" mode="out-in">
            <router-view class="child-view"></router-view>
        </transition>

        <the-footer></the-footer>
    </div>
</template>

<script>
    import NavBar from './components/navbar';
    import footer from './components/Footer'

    export default {
        name: 'App',
        components: {
            NavBar,
            'the-footer': footer
        }
    }
</script>

