<template>
    <div>
        <hr>
        <div class="title-reviews">REVIEWS ({{ comments.length }})</div>
        <hr>
        <div
                class="item-review mb-5"
                v-for="(rev, index) in comments"
                :key="index"
        >
            <div class="avatar-author" v-if="rev.avatar" :style="{backgroundImage: `url(${rev.avatar})`}"></div>
            <div class="body-rew">
                <div class="info-ref">
                    <div class="date">{{rev.user}} <span>{{rev.date}}</span></div>
                    <div class="rating">
                        <star-rating :rating="rev.rating" :star-size="16"
                                     :read-only="true"></star-rating>
                    </div>
                </div>
                <div class="text-ref">{{rev.body}}</div>

            </div>
        </div>
        <div class="add-review">
            <hr>
            <div class="title-block">Add a review</div>
            <hr>
            <div class="sub-title">Your email address will not be published. Required fields are marked *</div>
            <form action="" @submit.prevent="sentComment">
                <div class="form-group">
                    <span>Your Rating</span>
                    <star-rating :star-size="16"></star-rating>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" placeholder="Enter your Name...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="email" placeholder="Enter your e-mail...">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea placeholder="Enter your comment..."
                              rows="4"
                              maxlength="65525"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit"  class="btn btn-md dark-btn">SEND</button>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    import StarRating from 'vue-star-rating'

    export default {
        name: "AddReview",
        props:['comments'],
        components: {
            StarRating
        },
        data() {
            return {
                product: {
                    reviews: [
                       /* {
                            avatar: 'img',
                            date: '20.08.2018',
                            author: 'Mak',
                            rating: 4,
                            text: ` Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusamus dicta, dolor eius iste maxime veniam.`


                        },
                        {
                            avatar: 'img',
                            date: '19.08.2018',
                            author: 'Pack',
                            rating: 5.5,
                            text: ` Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusamus dicta, dolor eius iste maxime veniam.`


                        }*/
                        ]
                }
            }
        },
        methods:{
            sentComment(e){
                console.log(e)
            }
        }
    }
</script>
