<template>
    <section>
        <footer class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="main-col">
                        <div class="logo">
                            <img src="../../img/logo.svg" alt="">
                        </div>
                        <div class="copyright">(c) 2018 CREATED BY DARINX</div>
                        <div class="social-block">
                            <a href="https://www.facebook.com/bydurin/" target="_blank"> <i class="d-icon d-icon-facebook"></i></a>
                            <a href=""> <i class="d-icon d-icon-twitter"></i></a>
                            <a href=""> <i class="d-icon d-icon-instagram"></i></a>
                            <p>ffffff</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-colum">
                        <div class="title-colum">Useful Links</div>
                        <ul>
                            <li><a href="#">HELP & CONTACT US</a></li>
                            <li><a href="https://www.amazon.com/gp/help/customer/display.html/ref=cu_cfss_dyk_refunds?nodeId=901888"
                                   target="_blank">RETURNS & REFUNDS</a></li>
                            <li><a href="#">ONLINE STORES</a></li>
                            <li><a href="#">TERMS & CONDITIONS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-colum">
                        <div class="title-colum">Company</div>
                        <ul>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">SERVICES</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="gallery nav-colum">
                        <div class="title-colum">Gallery</div>
                        <div class="row m-0">
                            <div class="col-sm-4 col-6 p-1" v-for="img in imagesForGallery" :key="img">
                                <a @click="showModal(img)">
                                    <img :src="img" alt="">
                                </a>

                            </div>
                        </div>
                        <!-- Modal Component -->
                        <b-modal id="modal-center"
                                 ref="myModalRef"
                                 hide-footer
                                 centered
                                 hide-header
                                 size="lg">
                            <img  :src="srcBigImg" alt="">
                        </b-modal>
                    </div>
                </div>
            </div>

        </footer>
    </section>
</template>

<script>
    export default {
        name: "TheFooter",
        data(){
            return{
                imagesForGallery: [
                    require('../../img/uploads/1.png'),
                    require('../../img/uploads/2.png'),
                    require('../../img/uploads/3.png'),
                    require('../../img/uploads/2.png'),
                    require('../../img/uploads/3.png'),
                    require('../../img/uploads/1.png'),
                ],
                srcBigImg: null,


            }
        },
        beforeMount(){
            //console.log(require('./img/uploads/1.png'))
        },
        methods:{
            showModal (src) {
                this.$refs.myModalRef.show()
                console.log(console.log())
                this.$refs.bigImage
                this.srcBigImg = src

                console.log(this.$refs.myModalRef)
            },
            hideModal () {
                this.$refs.myModalRef.hide()
            }
        }

    }
</script>

<style scoped>

</style>
