<template>
    <section class="our-team">
        <div class="container">
            <div class="title-section">Our Team</div>

            <carousel
                    :perPage="4"
                    navigationPrevLabel=""
                    navigationNextLabel=""
                    :navigationEnabled="true"
                    class="team-carousel">

                <slide v-for="(item, key) in team" :key="key">
                    <div class="item-team">
                        <div class="avatar">
                            <div class="img" :style="{backgroundImage: `url(${item.avatar})`}"></div>
                        </div>
                        <div class="item-name">{{item.name}}</div>
                        <div class="item-status">{{item.status}}</div>
                    </div>
                </slide>

            </carousel>

        </div>
    </section>
</template>

<script>
    export default {
        name: "ourTeam",
        data() {
            return {
                team:[
                    {
                        avatar: require('../../img/uploads/vatar.png'),
                        name: 'Some One',
                        status: 'Co - Founder'
                    },
                    {
                        avatar: require('../../img/uploads/vatar.png'),
                        name: 'Some One',
                        status: 'Co - Founder'
                    },
                    {
                        avatar: require('../../img/uploads/vatar.png'),
                        name: 'Some One',
                        status: 'Co - Founder'
                    },
                    {
                        avatar: require('../../img/uploads/vatar.png'),
                        name: 'Some One',
                        status: 'Co - Founder'
                    },
                    {
                        avatar: require('../../img/uploads/vatar.png'),
                        name: 'Some One',
                        status: 'Co - Founder'
                    },
                    {
                        avatar: require('../../img/uploads/vatar.png'),
                        name: 'Some One',
                        status: 'Co - Founder'
                    }
                ]
            }
        },
        methods: {

        }
    }
</script>

<style scoped>

</style>
