<template>
  <div class="col-md-4">
    <div class="prev-single-post">
      <div class="img">

        <router-link :to="{name: 'singlePost', params: {slug: post.id}}"
                     :style="{backgroundImage: `url(${post.crop_image})` }"></router-link>
      </div>
      <div class="title-post">{{post.title | cropText(75)}}</div>
      <div class="date-post">{{post.date}}</div>
      <div class="small-desc-post" v-html="post.body"></div>
      <div class="small-info-post">
        <a :class="['likes-block', {'submit-like': post.like} ]" @click="submitLike(post.id)">
          <i class="d-icon d-icon-heart"></i>
          <span v-if="post.likes">{{post.likes}}</span>
          <span v-else>NO</span>
          <span> LIKES</span>
        </a>
        <a class="comments-block">
          <i class="d-icon d-icon-comments"> </i>
          <span v-if="post.comments"> {{post.comments.length}} </span>
          <span v-else> NO </span>
          COMMENTS
        </a>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: "postsList",
    props: {
      post: {type: Object}
    },
    data() {
      return {}
    },
    methods: {
      submitLike(arg) {
        this.post.like = true;

        axios({
          methods: 'POST',
          url: `api/front/posts/${arg}/like`
        }).then((r) => {
          console.log(r)
        }).catch((err) => {
          console.log(err)
        })


        console.log(arg)


        this.post.like = !arg
        if (arg) {
          this.post.likes = --this.post.likes
        } else {
          this.post.likes = ++this.post.likes
        }
      }
    }
  }
</script>

<style scoped>

</style>
