<template>
    <section>
        <div class="title-block">Related Products</div>
        <div class="row">
            <div class="col-sm-3 col-6" v-for="(product, index) in products.slice(0, 4)">
                <preview-product  :product="product" :key="index" :slug="product.id"></preview-product>
            </div>
        </div>

    </section>
</template>

<script>
    import relatedproducts from '../related-poducts'
    import previewProductComponent from './PreviewProductComponent'
    export default {
        name: "RelatedProductsComponent",
        components:{
            'preview-product': previewProductComponent
        },
        data() {
            return {
                products: relatedproducts
            }
        }
    }
</script>

<style scoped>

</style>
