<template>
    <section class="container-fluid sing-up">
        <div class="row">
            <form class="col-md-6 form-sing-up" @submit="singUp" novalidate="true">
                <div class="title-form">Sign Up To Our Newsletter</div>
                <label for="sing-mail">Enter your E-mail below to receive our latest offers</label>
                <div class="form-group">
                    <div class="error-field" v-if="errorMail.length"> {{errorMail}} </div>
                    <input type="email" id="sing-mail" v-model="email" placeholder="Enter your E-mail ">
                    <button type="submit" class="btn dark-btn">SUBMIT</button>
                </div>

            </form>

        </div>

    </section>
</template>

<script>
    export default {
        name: "singUp",
        data(){
            return{
                errorMail: [],
                email: null
            }
        },
        methods:{
            singUp(e){
                e.preventDefault();
                this.errorMail = [];
                if (!this.email) {
                    this.errorMail = 'Enter your email.';
                } else if (!this.validEmail(this.email)) {
                    this.errorMail = 'Please enter a valid email address.';
                }

            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>

<style scoped>

</style>
