<template>
    <div class="container">
        <div class="sing-up-about px-5 py-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="title-block">
                        Sign up To Our newsletter
                    </div>
                    <div class="sub-title">
                        Enter your E - mail to recive our latest offers
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form @submit="singUp" class="form-sing-about">
                        <div class="form-group">
                            <div class="error-field" v-if="errorMail.length"> {{errorMail}} </div>
                            <input type="email"  v-model="email" placeholder="Enter your e - mail">
                            <button type="submit" class="btn dark-btn">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "singUpSmall",
        data() {
            return {
                errorMail: [],
                email: null
            }
        },
        methods:{
            singUp(e){
                e.preventDefault();
                this.errorMail = [];
                if (!this.email) {
                    this.errorMail = 'Enter your email.';
                } else if (!this.validEmail(this.email)) {
                    this.errorMail = 'Please enter a valid email address.';
                }

            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>

<style scoped>

</style>
