<template>
    <section class="our-team">
        <div class="container">
            <div class="title-section">Testimonials</div>

            <carousel
                    :perPage="1"
                    navigationPrevLabel=""
                    navigationNextLabel=""
                    :navigationEnabled="true"
                    class="team-carousel testimonials-carousel">

                <slide v-for="(item, key) in testimonials" :key="key">
                    <div class="item-team">
                        <div class="avatar">
                            <div class="img" :style="{backgroundImage: `url(${item.avatar})`}"></div>
                        </div>
                        <div class=" testimonials-text">{{item.text}}</div>
                        <div class="item-name">{{item.name}}</div>
                    </div>
                </slide>

            </carousel>

        </div>
    </section>
</template>

<script>
    export default {
        name: "testimonials",
        data() {
            return {
                testimonials: [
                    {
                        avatar: require('../../img/uploads/ava2.png'),
                        name: 'Some One',
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nu`
                    },
                    {
                        avatar: require('../../img/uploads/ava2.png'),
                        name: 'Some One',
                        text: `Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nu`
                    }
                ]
            }
        }
    }
</script>

<style scoped>

</style>
