<template>
    <section class="about-us">
        <div class="top-block">
            <div class="container">
                <div class="title">About us</div>
                <div class="sub-title">Worldwide Delivery and same day dispatch</div>
            </div>
        </div>
        <div class="snoops">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../img/icons/car.svg" alt="">
                            <img src="" alt="">
                        </div>
                        <div class="snoop-name">Fast Delivery</div>
                        <div class="snoop-desc">Working all around the world</div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../img/icons/suport.svg" alt="">
                        </div>
                        <div class="snoop-name">Free Support</div>
                        <div class="snoop-desc">24 hours avalible</div>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../img/icons/perfect.svg" alt="">
                        </div>
                        <div class="snoop-name">Perfect Quality</div>
                        <div class="snoop-desc">Free return in 2 weeks</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-story">
            <div class="container">
                <div class="title-section">Our Story</div>
                <div class="story">
                    About company:
                    <br>
                    Crafting by Durin was established in 2017 and is based in Los Angeles. From the very beginning, we
                    have had a vision that has been underpinned by our desire to develop kitchen accessories that stand
                    out from the competition.
                    We understand that the kitchen is the hub of the home. It is the place that brings people together
                    for family meals, parties or a chat with friends over a coffee. As people are now spending more time
                    in the kitchen we believe that kitchen accessories complete the perfect kitchen setup.
                    Every kitchen needs good quality knives, bowls, plates and many other accessories, so why should
                    people settle for second best? Our aim was to produce kitchen accessories that complement your
                    kitchen and the way in which you use it. We have developed accessories that capture the imagination,
                    look good and still provide the ultimate level of functionality. Effectively, they offer everything.
                    To get to where we are today has taken hard work, dedication and an understanding of the market.
                    Our team of experts help us to develop and design products from the original idea right through to
                    production and that is what sets us apart from the rest.
                    The kitchen accessories that we offer have been well received across the whole of America,
                    however, we have not stopped there. We believe that everyone who owns a kitchen should have the
                    right to the very best kitchen accessories. Therefore, we decided to go global with our products
                    and from that very first decision we have never looked back.
                    We offer our products mainly through Amazon as that enables us to sell to people from across the
                    world. This has now resulted in us being considered the top kitchen accessory manufacturer in the
                    US.
                    What sets our products apart from others is the fact that they are all designed and created using
                    the highest quality materials. We understand that kitchen accessories have to stand the test of
                    time. They have to be able to handle use by all family members, from children right through to
                    adult’s and we also appreciate that they have to be durable. Our design encompasses the needs of
                    all, so they not only look good but they are can be used daily.
                    Opting to use the best products gives our customers the confidence to trust in our products and
                    ideas. We are always looking to create new and exciting products, enabling us to lead from the
                    front. Our drive and determination means that we never sit still. The world of kitchen accessories
                    is one that changes rapidly and we always aim to move with it.
                    We are a kitchen accessory company that cares. We are innovative, design-oriented and believe that
                    our products really stand out in a competitive industry. All of this is delivered by our experience,
                    knowledge and ability to continue to offer products that serve a purpose.
                    The kitchen is important to you and that is why we believe that you should not compromise on
                    low-quality accessories.
                </div>
                <div class="author-block">
                    <div class="author-name">Kostya Darin</div>
                    <div class="author-status">Founder</div>
                </div>
            </div>

        </div>
        <our-team></our-team>
        <testimonials></testimonials>

        <sing-up-small></sing-up-small>
    </section>
</template>

<script>
    import ourTeam from '../components/ourTeam'
    import testimonials from '../components/testimonials'
    import singUpSmall from '../components/singUpSmall'
    export default {
        name: "aboutus",
        components:{
            'our-team': ourTeam,
            testimonials: testimonials,
            'sing-up-small': singUpSmall
        },
        data() {
            return {}
        }
    }
</script>

<style scoped>

</style>
