<template>
    <section class="contact-us">
        <div class="top-block-map" id="map">

        </div>

        <div class="snoops">
            <div class="container">
                <div class="title-page">Contact Us</div>
                <div class="sub-title">
                    At Crafting by Durin we care about your needs when it comes to your kitchen. We don’t just see your
                    kitchen as the place where you cook great food. We see it as a place that brings people together and
                    that is why we aim to deliver complete satisfaction through our stylish, function and beautiful
                    kitchen products.
                    <br>
                    No kitchen is complete without the correct accessories. This is why we are always striving to
                    deliver innovative products that look appealing in every way but still offer an exceptional level of
                    functionality.
                    <br>

                    We understand how important it is to get your kitchen right, so if you have any queries about our
                    products or require advice about what would work best for you, we are on hand.

                </div>

                <div class="row">
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../img/icons/phone.svg" alt="">
                        </div>
                        <div class="snoop-name">Phone</div>
                        <a class="snoop-desc" href="tel:+380730625573">+380730625573</a>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../img/icons/mail.svg" alt="">
                        </div>
                        <div class="snoop-name">E - mail</div>
                        <a class="snoop-desc" href="mailto:support@darinx.com">support@darinx.com</a>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../img/icons/local.svg" alt="">
                        </div>
                        <div class="snoop-name">Adress</div>
                        <a class="snoop-desc" target="_blank"
                           href="https://goo.gl/maps/RFJExtnnacU2">Adressstreet</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form action="" @submit="concatUs" class="contact-us-form" novalidate="true">
                <div class="form-group">
                    <div class="error-field" v-if="errorMail.name"> {{errorMail.name}}</div>
                    <input type="text" v-model.lazy="contactForm.name" placeholder="Your name…">
                </div>
                <div class="form-group">
                    <div class="error-field" v-if="errorMail.email"> {{errorMail.email}}</div>
                    <input type="email" v-model.lazy="contactForm.email" placeholder="Your e-mail…">
                </div>
                <div class="form-group">
                    <div class="error-field" v-if="errorMail.text"> {{errorMail.text}}</div>
                    <textarea placeholder="Message text " rows="1" v-model.lazy="contactForm.text"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg dark-btn">SEND</button>
                </div>
            </form>
        </div>

        <sing-up-small></sing-up-small>

    </section>
</template>

<script>
  import singUpSmall from '../components/singUpSmall'
  import GoogleMapsLoader from 'google-maps'
  export default {
    name: "ContactPage",
    components: {
      'sing-up-small': singUpSmall
    },
    data() {
      return {
        name: 'map',
        map: '',
        contactForm: {
          name: '',
          email: '',
          text: ''
        },
        errorMail: {
          name: null,
          email: null,
          text: null
        }

      }
    },
    watch: {
      contactForm: {
        handler() {
          if (this.contactForm.name.length) {
            this.errorMail.name = null
          }
          if (this.contactForm.email.length) {
            this.errorMail.email = null
          }
          if (this.contactForm.text.length) {
            this.errorMail.text = null
          }


        }, deep: true,
      }
    },
    computed: {
      mapMarkers: function () {
        return this.markers
      }
    },
    mounted: function () {
      GoogleMapsLoader.KEY = 'AIzaSyC1RTtf-i6UOIXfqtDplHGqkGyiXPErE6E';
      GoogleMapsLoader.LIBRARIES = ['geometry', 'places'];
      GoogleMapsLoader.REGION = 'USA';
      let name = this.name
      let map = this.map
      GoogleMapsLoader.load(function(google) {
        const element = document.getElementById(name)
        const options = {
          zoom: 14,
          center: new google.maps.LatLng(46.4338179, 30.7590887),
          zoomControl: true,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: false,
          zoomControlOptions: {
            position: google.maps.ControlPosition.TOP_LEFT,
          }
        };
        map = new google.maps.Map(element, options);

        let iconBase = require('../../img/icons/local.png');
        let l_lat_lng = [46.4338179, 30.7590887];

        let marker = new google.maps.Marker({
          position: {lat: +l_lat_lng[0], lng: +l_lat_lng[1]},
          icon: iconBase,
          map: map,
        });
      })


    },
    methods: {
      concatUs(e) {
        e.preventDefault();

        if (!this.contactForm.name) {
          this.errorMail.name = 'Укажите имя.';
        }

        if (!this.contactForm.text) {
          this.errorMail.text = 'введите текст';
        }
        if (!this.contactForm.email) {
          this.errorMail.email = 'Укажите электронную почту.';
        } else if (!this.validEmail(this.contactForm.email)) {
          this.errorMail.email = 'Укажите корректный адрес электронной почты.';
        }

        /*if (!this.errorMail.length) {
            return true;
        }*/


      },
      validEmail: function (email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      }
    }
  }
</script>

<style scoped>

</style>
