<template>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <home-slider></home-slider>
                </div>
            </div>
        </div>
        <div class="container hot-category">
            <div class="row">
                <div v-for="product in products" class="col-md-6">
                    <router-link :to="{name: 'product', params: {slug: product.id} }" class="item">
                        <div class="image-item">
                            <div class="img" :style="{ backgroundImage:`url(${product.images[0].image})`  }"></div>
                        </div>
                        <div class="name-item">{{product.name}}</div>
                    </router-link>
                </div>

            </div>
        </div>
        <div class="container-fluid special-offers">
            <div class="row">
                <div class="col-12 p-0">
                    <special-offer :specialOffers="specialOffers"></special-offer>

                </div>
            </div>
        </div>
        <div class="container hot-news">
            <div class="title-section"><span>Hot New</span></div>
            <!--<div class="row">
                <div class="col-md-4" v-for="news in posts">
                    <div class="item-hot-new">
                        <div class="img-new">
                            <router-link
                                    :to="{ name: 'singlePost', params: { slug: news.id }}"
                                    :style="{ backgroundImage: `url(${news.crop_image})`  }">
                            </router-link>
                        </div>
                        <div class="title-new">{{news.title | cropText(75)}}</div>
                        <div class="date-new">{{news.date}}</div>
                        <div class="small-new">
                            {{news.body | cropText(150)}}
                            <router-link :to="{ name: 'singlePost', params: { slug: news.id }}"
                                         class="accent-color">Read More...</router-link>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <posts-list v-for="(item, key) in posts" :post="item" :key="key"></posts-list>
            </div>
        </div>

        <sing-up></sing-up>

    </section>


</template>

<script>

    import params from '../lorem-params';
    import homeSlider from '../components/home-slider';
    import specialOffers from '../components/specialOffers';
    import singUp from '../components/singUp'
    import postsList from '../components/postsList'


    export default {
        name: "home",
        components: {
            'special-offer': specialOffers,
            'home-slider': homeSlider,
            'sing-up': singUp,
            'postsList' :postsList
        },
        data() {
            return {
                params: params,
                specialOffers: {
                    name: 'Metal Paradise',
                    price: 80,
                    oldPrice: 120,
                    endTime: '30.10.2018',

                },
                products: [{images: [{image:''}]}],
                posts: [{
                        id: '',
                        title: '',
                        date: '',
                        img: '',
                        description: ''
                    }]


            }
        },
        mounted(){
            this.fetchPosts()
            this.fetchProd()

        },
        methods: {
            fetchPosts() {
                axios({
                    method: 'get',
                    url: 'api/front/posts',
                }).then((r) => {
                    this.posts = r.data.data.slice(0, 3)
                })
            },
            fetchProd() {
                axios({
                    method: 'get',
                    url: 'api/front/products',
                }).then((r) => {
                    this.products = r.data.data.slice(0, 2)
                    console.log(this.products)
                })
            }
        }

    }
</script>

<style scoped>

</style>
