<template>
    <section>
        <h1 class="text-center"> 404  Not Found</h1>
    </section>
</template>

<script>
    export default {
        name: "NotFoundComponent",
        data() {
            return {}
        }
    }
</script>

<style scoped>

</style>
