<template>
    <section class="single-product">
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-gallery">
                        <gallery :images="gallery" :index="index" @close="index = null"></gallery>
                        <div class="row">
                            <div
                                    v-for="(image, indx) in product.images"
                                    :key="indx"
                                    @click="index = indx"
                                    :class="['img-product', !indx ? 'col-12':'col-3' ]"
                            >

                                <div class="img"
                                     :style="{backgroundImage: `url(${image.image})`}"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-7 pl-4">
                    <div class="product-name">
                        {{product.name}}
                    </div>
                    <div class="rating mb-3">
                        <star-rating :rating="5" :star-size="16" :read-only="true"></star-rating>
                        (1 customer review)
                    </div>
                    <div class="short-desc mb-3">
                        {{product.short_description}}
                    </div>
                    <div class="properties mb-5">
                        <div class="title-prop">BENEFITS</div>
                        <div class="text">{{product.property}}</div>
                    </div>
                    <div class="event-block">
                        <div class="row">
                            <div class="col-md-6 product-price">${{product.price}}</div>
                            <div class="col-md-6 text-right">
                                <a :href="product.link" class="add-to-cart add-accent"><span class="icon-shape mr-2"></span>BUY ON
                                    AMAZON</a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="container p-0">
            <div class="product-info mb-5">
                <b-tabs>
                    <b-tab title="DESCRIPTION" active>
                        <div class="" v-html="product.description"></div>
                    </b-tab>
                    <b-tab title="ADDITIONAL INFORMATION">
                        {{product.aditionalInfo}}
                    </b-tab>
                    <b-tab :title="`REVIEWS (${product.comments.length})`" >
                        <add-review :comments="product.comments"></add-review>
                    </b-tab>
                </b-tabs>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <related-products></related-products>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import products from '../products'

    import StarRating from 'vue-star-rating'
    import VueGallery from 'vue-gallery';
    import RelatedProductsComponent from '../components/RelatedProductsComponent'
    import AddReview from '../components/AddReview'

    export default {
        name: "SimpleProductPage",
        components: {
            'gallery': VueGallery,
            StarRating,
            'related-products': RelatedProductsComponent,
            'add-review': AddReview
        },
        data() {
            return {
                gallery:[],
                url:'https://ru.vuejs.org/',
                product: {
                    add_info: '',
                    average_rating: '',
                    comments: [],
                    date: '',
                    description: '',
                    id: '',
                    images: [],
                    link: '',
                    name: '',
                    price: '',
                    short_description: '',
                    related: '',
                    user: '',

                },
                index: null,
                sumReviews: 0
            }
        },
        watch: {
            '$route' (to, from) {
               /* let indexProduct = _.findIndex(products, {id: +this.$route.params.slug});
                this.product = products[indexProduct]
                this.sumReviews = this.product.reviews.length*/
            }
        },
        mounted(){
            this.fetch()
        },
        beforeMount() {
          /*  let indexProduct = _.findIndex(products, {id: +this.$route.params.slug});
            this.product = products[indexProduct]
            this.sumReviews = this.product.reviews.length*/

        },
        methods:{
            fetch(){
                axios({
                    method: 'get',
                    url: `/api/front/products/${+this.$route.params.slug}`,
                }).then((r)=>{
                    console.log(r)
                    this.product = r.data.data
                    for(let item of r.data.data.images){
                        this.gallery.push(item.image)
                    }
                })
            }
        }

    }
</script>

<style scoped>

</style>
