<template>
    <section class="single-post">
        <div class="container">
            <h1 class="title-single-post">{{post.title}}</h1>
            <div class="info-data">
                <div class="row">
                    <div class="col-sm-6 date-post">
                        {{post.date}}
                    </div>
                    <div class="col-sm-6">
                        <a class="likes-block">
                            <i class="d-icon d-icon-heart"></i>
                            <span>{{post.likes}}</span>
                            <span> LIKES</span>
                        </a>

                    </div>
                </div>
            </div>

            <div class="post-body mb-5" v-html="post.body"></div>

            <div class="div">
                <add-review :comments="post.comments"></add-review>
            </div>


            <div class="container hot-news">
                <div class="title-section"><span>Hot New</span></div>

                <div class="row">
                    <posts-list v-for="(item, key) in posts" :post="item" :key="key"></posts-list>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import postsList from '../components/postsList';
    import addReview from '../components/AddReview';
    export default {
        name: "SinglePostPage",
        components:{
            addReview,
            postsList
        },
        data(){
            return{
                post: {
                    title: '',
                    date:'',
                    likesL: '',
                    user: '',
                    image: '',
                    body: '',
                    comments: []
                },
                posts:{},
            }

        },
        watch:{
            '$route':{
                handler(){
                   this.fetch()

                }
            }

        },
        mounted(){

            this.fetch()
            this.fetchPosts()
        },
        methods:{
            fetch(){
                axios({
                    method: 'get',
                    url: `/api/front/posts/${+this.$route.params.slug}`,
                }).then((r)=>{
                    console.log(r)
                    this.post= r.data.data
                })
            },
            fetchPosts() {
                axios({
                    method: 'get',
                    url: '/api/front/posts',
                }).then((r) => {
                    console.log(r)
                    this.posts = r.data.data.slice(0, 3)
                })
            },
        }
    }
</script>

<style scoped>

</style>
