.about-us {
  .top-block {
    background-image: url(../../img/about-bg.jpg);
    background-position: center;
    background-size: cover;
    color: $white;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-family: $accent-font;
      font-size: 64px;
      margin-bottom: -10px;
    }
    .sub-title {
      font-family: $accent-font;
      font-size: 16px;
    }
  }

}

.snoops {
  padding-top: 38px;
  margin-bottom: 50px;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .snoop-name {
      margin-top: 8px;
      font-size: 18px;
      font-weight: 600;
    }
    .snoop-desc {
      font-size: 12px;
      color: $light-color;
    }
  }
}

.our-story {
  margin-bottom: 60px;
  .story {
    text-align: center;
    letter-spacing: 0.47px;
    margin-bottom: 25px;
  }
  .author-block {
    font-family: $accent-font;
    text-align: center;
    .author-name {
      font-size: 16px;
      font-weight: 700;
    }
    .author-status {
      font-size: 13px;
    }
  }
}

.team-carousel{
  .item-team{
    padding: 10px;
    text-align: center;
    .img{
      padding-top: 100%;
      background-position: center;
      background-size: cover;
      margin-bottom: 10px;
    }
    .item-name{
      font-family: $accent-font;
      font-weight: 700;
      letter-spacing: 0.47px;
    }
    .item-status{
      font-family: $accent-font;
      font-size: 13px;
      letter-spacing: 0.41px;
    }
  }
}
.VueCarousel{
  padding-top: 10px;
  &-navigation{
    position: absolute;
    top: 0;
    right: 20px;
    &-button{
      position: static !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 13px;
      height: 13px;
    }
    &-prev,
    &-next{
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: transparent;
      background-image: url(../../img/icons/arr-left.svg);

    }
    &-prev{
      transform: rotate(180deg) translateY(45%) translateX(50%) !important;
    }
    &-next{
    }
  }
}

.testimonials-carousel{
  .avatar{
    width: 104px;
    margin: 0 auto 80px;
  }
  .item-team{
    .testimonials-text{
      padding: 0 11%;
      font-family: $def-font;
      color: $def-color;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.47px;
      margin-bottom: 10px;
      position: relative;
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: -50px;
        width: 30px;
        height: 30px;
        background:  url(../../img/icons/quote.png) no-repeat  center;
        background-size: contain;

      }
    }
    .item-name{
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.47px;
    }
  }

}

.sing-up-about{
  border: 9px solid #dcdcdc;
  margin-bottom: 45px;
  font-size: 12px;
  .title-block{
    font-family: $accent-font;
    font-size: $md-font;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.44px;
    margin-bottom: 5px;
  }
  .form-sing-about{
    display: block;
    width: 100%;
    .form-group{
      display: flex;
      input{
        width: 100%;
        margin-right: 5%;
        font-size: 12px;
        border-bottom-width: 1px;
      }
      .btn{
        font-size: 12px;
        padding-left: 2em;
        padding-right: 2em;
      }
    }
  }
}
