.top-bg {
  height: 216px;
  background-position: center;
  background-size: cover;
  margin-bottom: 45px;
}

.blog-page {
  .top-bg {
    background-image: url(../../img/blog-bg.jpg);
  }
}

.prev-single-post {
  border: 1px solid #e1e1e1;
  margin-bottom: 35px;
  .img {
    a {
      display: block;
      padding-top: 66.6%;
      background-size: cover;
      background-position: center;
    }
  }
  .title-post {
    font-weight: 500;
    padding: 15px 15px 0;
    min-height: 57px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }
  .date-post {
    padding: 0 15px 5px;
    color: $accent-color;
  }
  .small-desc-post {
    padding: 0 15px 15px;
    border-bottom: 1px solid #e1e1e1;
    height: 89px;
    overflow: hidden;
  }
  .small-info-post{
    display: flex;
    a{
      cursor: pointer;
      color: $light-color;
      display: block;
      text-align: center;
      padding: 15px;
      width: 100%;
    }
    .comments-block,
    .likes-block{
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        margin: 0 5px;
      }
      span{
        padding: 0 3px;
      }
    }
    .likes-block{
      &.submit-like{
        .d-icon-heart{
          opacity: 1;
        }
      }
    }
  }

}

.single-post{
  padding-top: 35px;
  .title-single-post{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .info-data{
    margin-bottom: 20px;
    .date-post{
      color: $bg-color;
    }
  }
  .post-body{
    font-size: 16px;
    line-height: 1.8;
  }
  .likes-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    span{
      padding: 0 3px;
    }
  }
  .vue-star-rating{
    display: none !important;
  }
}
