.top-block-map{
  height: 300px;
  max-height: 25vh;
  background: #565656;
}

.title-page + .sub-title{
  font-weight: 400;
  letter-spacing: 0.47px;
  text-align: center;
  margin-bottom: 45px;
}

.contact-us-form{
  margin-bottom: 40px;
  input,
  textarea{
    width: 100%;
    margin-bottom: 10px;
    border-width: 0 0 3px 0;
    border-color: $light-color;
    background: transparent;
    resize: none;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.44px;
    font-style: italic;
  }
  textarea{
    margin-top: 45px;
  }

}
textarea{

}
