.add-to-cart {
  padding: 0 11px;
  height: 37px;
  box-shadow: 0 0 9px 0 rgba(93, 93, 93, 0.5);
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 9px 1px rgba(93, 93, 93, 0.5);
    cursor: pointer;
  }
  &:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    padding: 0 10px;
    background-image: url("../../img/icons/shape.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:active {
    box-shadow: inset 0 0 4px 0px rgba(93, 93, 93, 0.5);
  }
  &.small-btn{
    width: 107px;
    font-size: $xs-fonts;
    padding: 0 5px;
    &:before{
      width: 15px;
      height: 17px;
      margin-right: 5px;
    }
  }
  &.dark-btn{
    background: $black;
    color: $white !important;
    &:before {
      background-image: url("../../img/icons/shape-white.svg");
    }
    &:hover{
      color: $def-color !important;
      background: $white;
      &:before {
        background-image: url("../../img/icons/shape.svg");
      }
    }
  }
  &.add-accent{
    background: $bg-accent-light;
    &:before{
      width: 16px;
      height: 16px;
    }
  }
}

.dark-btn{
  background: $black;
  color: $white !important;
  &:hover{
    color: $def-color !important;
    background: $white;
  }
}


.d-icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &-facebook {
    background-image: url(../../img/icons/facebook.svg);
  }
  &-twitter {
    background-image: url(../../img/icons/twitter.svg);
  }
  &-instagram{
    background-image: url(../../img/icons/instagram.svg);
  }
  &-comments{
    background-image: url(../../img/icons/comments.svg);
  }
  &-heart{
    opacity: 0.33;
    background-image: url(../../img/icons/heart.svg);
  }
}

.title-section{
  color: $def-color;
  font-family: $accent-font;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.44px;
  //text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  &:before,
  &:after{
    content: '';
    display: block;
    width: 41px;
    height: 1px;
    border: 1px solid #1f1f1f;
    margin-bottom: -5px;
  }
  &:before{
    margin-right: 18px;
  }
  &:after{
    margin-left: 18px;
  }
}

.accent-color{
  color: $accent-color !important;
}

.title-page{
  font-family: $accent-font;
  font-size: $md-font;
  font-weight: 700;
  letter-spacing: 0.44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  &:after,
  &:before{
    content: '';
    display: block;
    margin: 0 25px;
    width: 41px;
    height: 1px;
    border-top: 1px solid #1f1f1f;
  }
}


.tabs{
  .nav-tabs{
    border: 0;
    margin-bottom: 15px;
    .nav-link{
      border-width: 0 0 3px 0;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.61px;

      &.active{
        color: $black;
        background: transparent;
        border-bottom-color: $bg-accent-light;
      }
    }
  }
  .tab-content{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.61px;
    color: $md-color;
    padding: 0.5rem 1rem;
  }

}
.square {
  padding-top: 100%;
}

.btn-lg{
  padding: 0.5em 3.5em;
}
.btn-md{
  padding: 0.5em 2em;

}
