footer{
  margin-top: 20px;
  padding-bottom: 35px;
  .main-col{
    .logo{
      max-width: 140px;
      margin-bottom: 10px;
    }
  }
  .copyright{
    font-size: 8px;
    font-weight: 500;
    color: $light-color;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 13px;
  }
  .social-block{
    display: flex;
    a{
      margin: 0 10px;
    }
    opacity: 0.5;
  }
  .nav-colum{
    padding-top: 15px;
    .title-colum{
      color: $def-color;
      font-family: $accent-font;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    ul{
      padding: 0;
      list-style: none;
      li{
        border-bottom: 1px solid #e7e7e7;
        &:last-child{
          border-bottom: none;
        }
        a{
          color: $light-color;
          padding: 5px 0;
          font-size: 11px;
          display: block;
        }

      }

    }
  }
}
@media all  and (max-width: 768px){
  footer{
    text-align: center;
    .logo{
      margin: auto;
    }
    .social-block{
      display: block;
    }
  }

}
