//@font-face {
//  font-family: 'icomoon';
//  app:  url('/app/assets/fonts/icomoon.eot');
//  app:  url('/app/assets/fonts/icomoon.eot') format('embedded-opentype'),
//  url('/app/assets/fonts/icomoon.ttf?') format('truetype'),
//  url('/app/assets/fonts/icomoon.woff') format('woff'),
//  url('/app/assets/fonts/icomoon.svg') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//
//[class^="icon-"], [class*=" icon-"] {
//  /* use !important to prevent issues with browser extensions that change fonts */
//  font-family: 'icomoon' !important;
//  speak: none;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//
////example: <span class="icon-shape"></span>
//.icon-shape:before {
//  content: "\e900";
//}
//.icon-facebook:before {
//  content: "\e901";
//}
//.icon-twitter:before {
//  content: "\e902";
//}
//.icon-instagram:before {
//  content: "\e903";
//}
//.icon-car:before {
//  content: "\e904";
//  color: #878787;
//}
//.icon-suport:before {
//  content: "\e905";
//  color: #878787;
//}
//.icon-comments:before {
//  content: "\e906";
//  color: #888;
//}
//.icon-phone:before {
//  content: "\e907";
//  color: #878787;
//}
//.icon-mail:before {
//  content: "\e908";
//  color: #878787;
//}
//.icon-local:before {
//  content: "\e909";
//  color: #878787;
//}
//.icon-perfect:before {
//  content: "\e90a";
//  color: #878787;
//}
//.icon-stars:before {
//  content: "\e90b";
//  color: #ffda44;
//}
//.icon-arr-left:before {
//  content: "\e90c";
//  color: #999;
//}
