.shop{
  .top-block{
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-image: url(../../img/shop-bord.jpg);
    margin-bottom: 45px;
  }
  .panel-shop{
    .panel-group{
      margin-bottom: 15px;
      .title{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1px;
      }
      .form-group{
        margin-bottom: 0;
        label{
          margin-bottom: 0;
        }
        .name{
          font-size: 13px;
          color: $light-color;
        }
        input[type='checkbox']{
          display: none;
        }
        input[type='checkbox']:checked + span{
          color: $balck;
        }

      }

    }
  }
}
@media all and (max-width: 768px){
  .panel-shop{
    text-align: center;
  }
}

.title-block{
  color: $black;
  font-family: $accent-font;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.28px;
  margin-bottom: 15px;
}
