.single-product {
  padding-top: 70px;
  .product-gallery {
    .img-product {
      margin-bottom: 25px;
      .img {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: center;

      }
    }
  }
  .product-name {
    font-family: $accent-font;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.35px;
    line-height: 0.5;
    margin-bottom: 15px;
  }
  .rating {
    font-size: 10px;
    font-weight: 400;
    display: flex;
    align-items: center;
    .vue-star-rating {
      margin-right: 5px;
      .vue-star-rating-rating-text {
        display: none;
      }
    }
  }
  .properties {
    .title-prop {
      font-weight: 600;
    }
    .text {
      white-space: pre-line;
      line-height: 1.8;
      letter-spacing: 0.53px;
      min-height: 200px;
    }
  }
  .product-price {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1.72px;
  }


}

.prev-single-product{
  display: block;
  margin-bottom: 55px;
  .img{
    display: block;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 15px;
    .sale{
      position: absolute;
      width: 61px;
      height: 25px;
      box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
      background-color: #fb9310;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      color: $white;
    }
  }
  .add-to-cart{
    text-align: center;
    height: auto;
  }
  .product-info{
    .prod-name{
      font-weight: 700;
      font-size: 13px;
    }
    .prod-category{
      color: $light-color;
      font-weight: 300;
    }
    .price{
      font-weight: 700;
      color: $black;
      display: flex;
      align-items: center;
      .olf-price{
        text-decoration: line-through;
        color: $light-color;
        font-weight: normal;
      }
    }
  }
}
.add-review{
  input,
  textarea{
    width: 100%;
    border-bottom-width: 1px;
    content: $black;
    resize: none;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0.44px;
    font-style: italic;
  }
}
.item-review {
  display: flex;
  margin-bottom: 20px;
  color: $black;

  .avatar-author {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    margin-right: 25px;
  }
  .body-rew {
    width: 100%;
  }

  .info-ref {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-family: $accent-font;
    font-size: 16px;
    margin-bottom: 5px;
    .date{
      display: flex;
      align-items: center;

      span{
        color: $accent-color;
        display: inline-flex;
        align-items: center;
        font-weight: normal;
        &:before{
          content: '';
          display: inline-block;
          width: 7px;
          height: 1px;
          border-top: 1px solid $black;
          margin: 0 5px -3px;
        }
      }
    }
  }

}
.title-reviews{
  font-size: 18px;
  font-family: $accent-font;
  text-transform: uppercase;
  color: $black;
  font-weight: bold;
  margin-bottom: 15px;
}
