<template>
    <div>
        <datatable v-bind="table"/>

        <b-modal id="modal1"
                 ref="modalDelete"
                 title="Delete"
                 ok-title="Delete"
                 @ok="deletePost">
            <p class="my-4">Are you sure you want to delete message <b>{{ messageDelete.id }}</b>?</p>
        </b-modal>
    </div>
</template>

<script>
    import AuthHeaders from '../../mixins/auth-headers';
    import ActionsComponent from './components/MessagesActionComponent';
    import StatusMessege from './components/StatusMessege';

    import messages from './messages'

    export default {
        name: "MessagesList",
        mixins: [AuthHeaders],
        components: {
            ActionsComponent,
            StatusMessege
        },
        data() {
            return {
                messageDelete:{
                    id: undefined
                },
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            sortable: true,
                            thStyle: {'width': '7%', 'min-width': '70px', textAlign: 'center'},
                            tdStyle: { textAlign: 'center' }

                        },
                        {
                            title: 'Name',
                            field: 'name',
                            thStyle: { textAlign: 'center'},
                            tdStyle: { textAlign: 'center' }
                        },
                        {
                            title: 'Email',
                            field: 'email',
                            sortable: true
                        },
                        {
                            title: 'Message',
                            field: 'message',
                        },
                        {
                            title: 'Date',
                            field: 'date',
                            thStyle: { textAlign: 'center'},
                            tdStyle: { textAlign: 'center' },
                        },
                        {
                            title: 'Status',
                            field: 'status',
                            thStyle: { textAlign: 'center'},
                            tdStyle: { textAlign: 'center' },
                            tdComp: StatusMessege
                        },
                        {
                            title: 'Actions',
                            thStyle: { textAlign: 'center'},
                            tdStyle: { textAlign: 'center' },
                            tdComp: ActionsComponent,
                        },

                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        replyMessage: this.replyMessage
                    },
                    total: 10,
                    query: {"limit": 10, "offset": 0, "sort": "", "order": ""}
                },
            }
        },
        methods:{
            showDelete(row) {
                this.messageDelete = row;
                this.$refs.modalDelete.show();
            },
            deletePost(row){
                this.table.data.splice(_.findIndex(this.table.data,  this.messageDelete), 1)
            },
            replyMessage(row){
                this.$router.push( {name: 'messageReply', params: {id: row.id} } )
            }
        },
        mounted(){
            this.table.data = messages;
            this.table.total = this.table.data.length
        }
    }
</script>

<style scoped>

</style>