<template>
    <div class="message-reply card p-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="title-block">Author name: {{message.name}}</div>
            </div>
            <div class="col-sm-4">
                <div class="title-block">Author e-mail: {{message.email}}</div>
            </div>
            <div class="col-sm-4">
                <div class="title-block">Date: {{message.date}}</div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col">
                <div class="text-body mb-5">
                    <div class="title-block">Message body</div>
                    {{ message.message }}
                </div>
            </div>
        </div>

        <form class="row" @submit="replyMessage">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Response text</label>
                    <textarea rows="5"
                              placeholder="enter response text"
                              class="form-control border-input"></textarea>

                </div>
                <div class="text-center">
                    <button type="submit"
                            class="btn btn-info btn-fill btn-wd">Update Profile</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import messages from './messages'

    export default {
        name: "MessgaeReply",
        data() {
            return {
                message: {
                    date: undefined,
                    email: undefined,
                    id: undefined,
                    message: undefined,
                    name: undefined,
                    status: undefined
                }
            }
        },
        mounted() {
            this.message = messages[this.$route.params.id];
            console.log(this.message)
        },
        methods:{
            replyMessage(e){
                e.preventDefault()
                alert('Отправка Сообщения')
            }

        }

    }
</script>

<style scoped>
    .title-block {
        font-size: 1.1em;
    }
</style>