<template>
    <div class="add-product">
        <div class="card">
            <div class="content">
                <form ref="productData">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="add-img">
                                <label for="addImg" class="btn btn-info btn-fill btn-wd">Add Image</label>
                                <input type="file"
                                       id="addImg"
                                       v-validate="'image'"
                                       name="image-post"
                                       multiple
                                       hidden
                                       accept="image/jpeg,image/png"
                                       placeholder="Image"
                                       @change="onFileChange">

                                <span class="error"
                                      v-show="errors.has('image-post')">{{ errors.first('image-post') }}</span>
                                <div class="row">
                                    <div class="col-lg-6 prev-img mb-2" v-for="(img, index) of prevImage">
                                        <!--<img :src="img" alt="">-->
                                        <div class="img" v-bind:style="{'background-image':`url(${img.image})`}"></div>
                                        <a @click="removeImg(index, img.id)" class="remove-img">
                                            Remove image
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <fg-input type="text"
                                              label="Name"
                                              placeholder="Name product"
                                              name="name-product"
                                              :class="{'is-danger': errors.has('title') }"
                                              v-validate="'required'"
                                              v-model="product.name">

                                    </fg-input>
                                    <span class="error" v-show="errors.has('name-product')">{{ errors.first('name-product') }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fg-input type="text"
                                              label="Short Description"
                                              placeholder="Short Description"
                                              name="short_description"
                                              :class="{'is-danger': errors.has('short_description') }"
                                              v-validate="'required'"
                                              v-model="product.short_description">

                                    </fg-input>
                                    <span class="error" v-show="errors.has('short_description')">{{ errors.first('short_description') }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fg-input type="text"
                                              label="Property"
                                              placeholder="Property"
                                              name="property"
                                              :class="{'is-danger': errors.has('property') }"
                                              v-validate="'required'"
                                              v-model="product.property">

                                    </fg-input>
                                    <span class="error"
                                          v-show="errors.has('property')">{{ errors.first('property') }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fg-input type="number"
                                              label="Price"
                                              placeholder="Price"
                                              name="price"
                                              :class="{'is-danger': errors.has('price') }"
                                              v-validate="'required'"
                                              v-model.number="product.price">

                                    </fg-input>
                                    <span class="error" v-show="errors.has('price')">{{ errors.first('price') }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fg-input type="text"
                                              label="Link to Amazon"
                                              placeholder="link"
                                              name="link"
                                              :class="{'is-danger': errors.has('link') }"
                                              v-validate="'required'"
                                              v-model="product.link">

                                    </fg-input>
                                    <span class="error" v-show="errors.has('link')">{{ errors.first('link') }}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <vue-editor
                                                v-model="product.description"
                                                v-validate="'required'"
                                                :editorToolbar="customToolbar"
                                                name="description"
                                        ></vue-editor>
                                        <span class="error" v-show="errors.has('description')">{{ errors.first('description') }}</span>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fg-input type="text"
                                              label="Aditional Information"
                                              placeholder="Aditional Information"
                                              name="add_info"
                                              :class="{'is-danger': errors.has('add_info') }"
                                              v-validate="'required'"
                                              v-model="product.add_info">

                                    </fg-input>
                                    <span class="error"
                                          v-show="errors.has('add_info')">{{ errors.first('add_info') }}</span>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="formData">
                                Save Post
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {VueEditor} from 'vue2-editor'
    import authHeader from '../../mixins/auth-headers'
    import PaperNotification from '../../components/UIComponents/NotificationPlugin/Notification'

    export default {
        name: "ProductEdit",
        components: {
            VueEditor,
            PaperNotification
        },
        mixins: [authHeader],
        data() {
            return {
                notifications: {
                    topCenter: false
                },
                type: ['', 'info', 'success', 'warning', 'danger'],
                prevImage: [],
                product: {
                    images: [],
                    name: '',
                    short_description: '',
                    property: '',
                    price: '',
                    link: '',
                    description: '',
                    add_info: ''
                },
                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{'list': 'ordered'}, {'list': 'bullet'}],

                ],
            }
        },
        mounted() {

            this.product = this.$route.params
            this.prevImage = this.$route.params.images
            this.product.images = []
            console.log(this.product.images)
            /*for(let item of this.product.images){

                console.log(item.crop_image)
                this.prevImage.push(item.image)
            }*/

        },
        methods: {
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files);
            },
            createImage(files) {
                for (let img of files) {
                    this.product.images.push(img)
                    let image = new Image(),
                        reader = new FileReader()

                    reader.onload = (e) => {
                        this.prevImage.push({'image': e.target.result})
                    };
                    reader.readAsDataURL(img);

                }


            },
            removeImg: function (indx, id) {
                if (id) {
                    console.log('id', id)
                    axios.delete(
                        `api/admin/products/${this.product.id}/image/delete/${id}`,
                        this.AuthHeaders()
                    ).then((r) => {
                        console.log(r)
                        this.prevImage.splice(indx, 1)
                    }).catch((err) => {
                        console.log(err)
                    })

                }
                else {
                    this.prevImage.splice(indx, 1)
                    this.product.images.splice(indx - this.prevImage.length, 1)
                }
            },
            formData() {
                this.$validator.validate().then(result => {
                    if (result) {

                        let formData = new FormData();
                        let prod = this.product

                        formData.append('name', this.product.name)
                        formData.append('price', this.product.price)
                        formData.append('short_description', this.product.short_description)
                        formData.append('property', this.product.property)
                        formData.append('link', this.product.link)
                        formData.append('description', this.product.description)
                        formData.append('add_info', this.product.add_info)
                        formData.append('_method', 'PATCH')

                        let i = 0;
                        for (let item of this.product.images) {
                            i++;
                            formData.append(`images[]`, item)
                        }
                        this.saveProd(formData)
                        console.log(formData.get('name'))
                    }
                });

            },
            saveProd(data) {
                console.log(data.get('name'))
                axios({
                        method: 'post',
                        url: `/api/admin/products/${this.product.id}`,
                        data: data,
                        headers: {
                            Authorization: 'Bearer ' + this.$storage.get('token'),
                            'content-type': 'multipart/form-data',
                        }
                    }
                ).then((r) => {
                    console.log(r)
                    let textForNotification = '<div style="line-height: 30px">Product saved.</div>',
                        icon = 'ti-check'
                    this.notifyVue('top', 'center', 2, textForNotification, icon)

                }).catch((err) => {
                    console.dir(err)
                    let textForNotification = err.message,
                        icon = 'ti-close'
                    this.notifyVue('top', 'center', 4, textForNotification, icon)

                })
            },
            notifyVue(verticalAlign, horizontalAlign, type, text, icon) {
                this.$notifications.notify(
                    {
                        message: text,
                        icon: icon,
                        horizontalAlign: horizontalAlign,
                        verticalAlign: verticalAlign,
                        type: this.type[type]
                    })
            }
        }
    }
</script>

<style scoped>

</style>
