<template>
    <div class="archive-posts">
        <div class="contsiner-fluid">
            <div class="row">
                <div class="col text-right mb-4">
                    <router-link :to="{name: 'prodAdd'}" class="btn btn-info btn-fill btn-wd">
                        <span class="ti-plus"></span> Add Product
                    </router-link>
                </div>
            </div>
        </div>
        <div class="">
            <datatable v-bind="table"/>

        </div>


        <b-modal id="modal1"
                 ref="modalDelete"
                 title="Delete"
                 ok-title="Delete"
                 @ok="deleteProd">
            <p class="my-4">Are you sure you want to delete post <b> {{prodDelete.name}} </b>?</p>
        </b-modal>
    </div>
</template>

<script>
    import authHeaders from '../../mixins/auth-headers'
    import ActionsComponent from '../../components/TableComponents/ActionComponent'
    export default {
        name: "ProductShow",
        mixins:[authHeaders],
        components: {
            ActionsComponent
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            sortable: true
                        },
                        {
                            title: 'Name',
                            field: 'name',
                            sortable: true

                        },
                        {
                            title: 'Date',
                            field: 'date',
                            sortable: true
                        },
                        {
                            title: 'Author',
                            field: 'user',

                        },
                        {
                            title: 'Price',
                            field: 'price',
                            sortable: true
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                        },

                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    total: 50,
                    query: {"limit": 10, "offset": 0, "sort": "", "order": ""}
                },
                prodDelete: {
                    name: '',
                    id: '',
                }
            }
        },
        watch: {
            'table.query': {
                handler(query) {
                    console.log(query);


                    axios.get(
                        `/api/admin/products/?offset=${query.offset}&limit=${query.limit}&order=${query.order}&sort=${query.sort}`,
                        this.AuthHeaders(),
                    ).then((r) => {
                        console.log(r)
                        this.table.data = r.data.data
                        this.table.total = r.data.total

                    })
                },
                deep: true
            }
        },
        mounted(){
          this.fetch()
        },
        methods:{
            fetch(){
                axios.get(
                    '/api/admin/products',
                    this.AuthHeaders(),
                ).then((r) => {
                    console.log(r)
                    this.table.data = r.data.data
                    this.table.total = r.data.total
                })
            },
            showDelete(row) {
                this.$refs.modalDelete.show();
                this.prodDelete = row;
            },
            deleteProd(){
                axios.delete(
                    `/api/admin/products/${this.prodDelete.id}`,
                    this.AuthHeaders()
                ).then((r) => {
                    console.log(r)
                    this.table.data.splice(_.findIndex(this.table.data,  this.prodDelete), 1)
                }).catch((err)=>{
                    console.dir(err)
                })
            },
            showEdit(row) {
                this.$router.push({name: 'prodEdit', params: row})
            }
        }
    }
</script>

<style scoped>

</style>
