<template>
    <div class="archive-posts">
        <div class="contsiner-fluid">
            <div class="row">
                <div class="col text-right mb-4">
                    <router-link :to="{name: 'addPost'}" class="btn btn-info btn-fill btn-wd">
                        <span class="ti-pencil-alt"></span> ADD POST
                    </router-link>
                </div>
            </div>
        </div>
        <datatable v-bind="table"/>


        <b-modal id="modal1"
                 ref="modalDelete"
                 title="Delete"
                 ok-title="Delete"
                 @ok="deletePost">
            <p class="my-4">Are you sure you want to delete post <b>{{ postDelete.title }}</b>?</p>
        </b-modal>
    </div>
</template>

<script>
    import AuthHeaders from '../../mixins/auth-headers';
    import ActionsComponent from '../../components/TableComponents/ActionComponent'

    export default {
        name: "ArchivePosts",
        mixins: [AuthHeaders],
        components: {
            ActionsComponent
        },
        data() {
            return {
                posts: undefined,
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            sortable: true
                        },
                        {
                            title: 'Title',
                            field: 'title',
                            thStyle: {'text-transform': 'uppercase'}
                        },
                        {
                            title: 'Date',
                            field: 'date',
                            sortable: true
                        },
                        {
                            title: 'Author',
                            field: 'user',
                            sortable: true
                        },
                        {
                            title: 'Comments',
                            field: 'sum_comments',
                        },
                        {
                            title: 'Likes',
                            field: 'likes',
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                        },

                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    total: 50,
                    query: {"limit": 10, "offset": 0, "sort": "", "order": ""}
                },
                postDelete: {
                    title: '',
                    id: '',
                }
            }
        },
        watch: {
            'table.query': {
                handler(query) {
                    console.log(query);


                    axios.get(
                        `/api/admin/posts/?offset=${query.offset}&limit=${query.limit}&order=${query.order}&sort=${query.sort}`,
                        this.AuthHeaders(),
                    ).then((r) => {
                        console.log(r)
                        this.table.data = r.data.data
                        this.table.total = r.data.total

                    })
                },
                deep: true
            }
        },
        mounted() {

            axios.get(
                '/api/admin/posts/',
                this.AuthHeaders(),
            ).then((r) => {
                this.table.data = r.data.data
                this.table.total = r.data.total
            })
        },
        methods: {
            showDelete(row) {
                this.$refs.modalDelete.show();
                this.postDelete = row;
                },
            deletePost(){
                axios.delete(
                    `/api/admin/posts/${this.postDelete.id}`,
                    this.AuthHeaders()
                ).then((r) => {
                    console.log(r)
                    this.table.data.splice(_.findIndex(this.table.data,  this.postDelete), 1)
                }).catch((err)=>{
                    console.dir(err)
                })

            },
            showEdit(row) {
                this.$router.push({name: 'editPost', params: row})
            }

        }
    }
</script>
