<template>
    <div class="card">
        <div class="header">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="title">{{ post.title }}</h4>
                </div>
                <div class="col-sm-6 text-sm-right">
                    <span>Date update{{ post.date }}</span>
                </div>

            </div>

        </div>
        <div class="content">
            <form ref="postData">
                <div class="row">
                    <div class="col-md-12">
                        <fg-input type="text"
                                  label="Title"
                                  placeholder="Paper dashboard"
                                  name="post-title"
                                  :class="{'is-danger': errors.has('title') }"
                                  v-validate="'required'"
                                  v-model="post.title">

                        </fg-input>
                        <span class="error" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Body post</label>
                            <vue-editor
                                    v-model="post.body"
                                    v-validate="'required'"
                                    :editorToolbar="customToolbar"
                                    name="body"
                            ></vue-editor>
                            <span class="error" v-show="errors.has('body')">{{ errors.first('body') }}</span>

                        </div>
                        <div class="">
                            Author: {{ post.user }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="addImg" class="btn btn-info btn-fill btn-wd">Add Image</label>
                        <input type="file"
                               id="addImg"
                               name="image-post"
                               hidden
                               placeholder="Image"
                               @change="onFileChange">
                        <button v-if="prevImage" @click.prevent="removeImage"
                                class="btn btn-warning btn-fill btn-wd">Clear Image
                        </button>
                        <div class="prev-img pt-3">
                            <img :src="prevImage"/>

                        </div>

                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="formData">
                            Save Post
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {VueEditor} from 'vue2-editor'
    import authHeder from '../../mixins/auth-headers'
    import PaperNotification from '../../components/UIComponents/NotificationPlugin/Notification'

    export default {
        name: "PostEdit",
        mixins: [authHeder],
        components: {
            VueEditor,
            PaperNotification
        },
        data() {
            return {
                prevImage: null,
                post: undefined,
                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{'list': 'ordered'}, {'list': 'bullet'}],
                ],
                notifications: {
                    topCenter: false
                },
                type: ['', 'info', 'success', 'warning', 'danger']

            }
        },
        created() {
            this.post = this.$route.params
            this.prevImage = this.$route.params.image
        },
        methods: {
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                this.post.image = file
                let image = new Image(),
                    reader = new FileReader(),
                    vm = this;

                reader.onload = (e) => {
                    vm.prevImage = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage: function (e) {
                this.prevImage = '';
            },
            formData() {
                this.$validator.validate().then(result => {
                    if (result) {
                        let formData = new FormData()

                        formData.append('image', this.post.image)
                        formData.append('title', this.post.title)
                        formData.append('body', this.post.body)
                        formData.append('_method', 'PATCH')
                        this.sendPost(formData)
                    }
                });


            },
            sendPost(formData) {
                console.log(formData.get('title'))

                axios.post(
                    `/api/admin/posts/${this.post.id}`,
                    formData,
                    this.AuthHeaders()
                ).then((r) => {
                    console.log(r)

                    let textForNotification = '<div style="line-height: 30px">Post saved.</div>',
                        icon = 'ti-check'
                    this.notifyVue('top', 'center', 2, textForNotification, icon)

                }).catch((err) => {
                    console.dir(err)
                    let textForNotification = err.message,
                        icon = 'ti-close'
                    this.notifyVue('top', 'center', 4, textForNotification, icon)
                })

            },
            notifyVue(verticalAlign, horizontalAlign, type, text, icon) {
                this.$notifications.notify(
                    {
                        message: text,
                        icon: icon,
                        horizontalAlign: horizontalAlign,
                        verticalAlign: verticalAlign,
                        type: this.type[type]
                    })
            }
        }
    }
</script>

<style scoped>

</style>
