<template>
    <div>
        <div class="card">
            <div class="header">
                <h4 class="title">Post</h4>
            </div>
            <div class="content">
                <form ref="postData">
                    <div class="row">
                        <div class="col-md-12">
                            <fg-input type="text"
                                      label="Title"
                                      placeholder="Paper dashboard"
                                      name="post-title"
                                      :class="{'is-danger': errors.has('title') }"
                                      v-validate="'required'"
                                      v-model="post.title">

                            </fg-input>
                            <span class="error" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Body post</label>
                                <vue-editor
                                        v-model="post.body"
                                        v-validate="'required'"
                                        :editorToolbar="customToolbar"
                                        name="body"
                                ></vue-editor>
                                <span class="error" v-show="errors.has('body')">{{ errors.first('body') }}</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="addImg" class="btn btn-info btn-fill btn-wd">Add Image</label>
                            <input type="file"
                                   id="addImg"
                                   v-validate="'required|image'"
                                   name="image-post"
                                   hidden
                                   placeholder="Image"
                                   @change="onFileChange">
                            <button v-if="prevImage" @click.prevent="removeImage"
                                    class="btn btn-warning btn-fill btn-wd">Clear Image</button>
                            <span class="error" v-show="errors.has('image-post')">{{ errors.first('image-post') }}</span>
                            <div class="prev-img">
                                <img :src="prevImage"/>

                            </div>

                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="formData">
                                Save Post
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import {VueEditor} from 'vue2-editor'
    import authHeder from '../../mixins/auth-headers'

    export default {
        name: "PostAdd",
        components: {
            VueEditor
        },
        mixins:[authHeder],


        data() {
            return {
                prevImage: null,
                post: {
                    image: '',
                    title: '',
                    body: '',
                },
                customToolbar: [
                    ['bold', 'italic', 'underline'],
                    [{'list': 'ordered'}, {'list': 'bullet'}],

                ]
            }
        },
        methods: {
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                this.post.image = file
                let image = new Image(),
                    reader = new FileReader(),
                    vm = this;

                reader.onload = (e) => {
                    vm.prevImage = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeImage: function (e) {
                this.prevImage = '';
            },
            formData(){
                this.$validator.validate().then(result => {
                    if (result) {
                        let formData = new FormData()
                        formData.append('image', this.post.image)
                        formData.append('title', this.post.title)
                        formData.append('body', this.post.body)
                        this.sendPost(formData)
                    }
                });




            },
            sendPost(formData) {
                axios.post(
                    '/api/admin/posts',
                     formData,
                    this.AuthHeaders()
                ).then((r)=>{
                    console.log(r)
                    this.$router.push({name: 'blog'})
                }).catch((err)=>{
                    console.dir(err)
                })

            }
        }
    }
</script>

<style scoped>

</style>
