<template>
    <div>
    <form class="form-signin m-auto">
        <img class="mb-4 mx-auto" src="../../img/logo.svg" alt="" width="250">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" v-model="form.email" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" v-model="form.password" class="form-control" placeholder="Password" required="">

        <button class="btn btn-lg btn-primary btn-block" type="submit" @click="Auth">Sign in</button>
        <b-alert variant="danger"
                 :show="dismissCountDown"
                 class=""
                 dismissible
                 @dismissed="dismissCountDown=0"
                 @dismiss-count-down="countDownChanged">{{ errorMessage }}</b-alert>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>

    </form>
    </div>
</template>

<script>
    import auth from '../mixins/auth'
    export default {
        name: "LoginPage",
        mixins:[auth],
        data() {
            return {
                form:{
                    email: undefined,
                    password: undefined,
                },
                errorMessage: undefined,
                dismissSecs: 25,
                dismissCountDown: 0

            }
        },
        methods:{
            Auth(){
                axios({
                    method: 'post',
                    url: '/api/auth/login',
                    data: this.form
                }).then((resp)=>{
                    this.$storage.set('token', resp.data.token);
                    this.$router.push('overview')
                }).catch((err)=>{
                    this.errorMessage = err.response.data.message
                    console.dir(err.response.data.message)
                    this.showAlert()

                })

            },
            countDownChanged (dismissCountDown) {
                this.dismissCountDown = dismissCountDown
            },
            showAlert () {
                this.dismissCountDown = this.dismissSecs
            }
        },
        mounted(){
            if (this.$storage.has('token')){
                this.$router.push('overview')
            }
        }
    }
</script>

<style scoped lang="scss">
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        height: calc(100vh - 300px);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        .alert-danger{
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
        }
    }
    .form-signin .checkbox {
        font-weight: 400;
    }
    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: 3px;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;

    }
    .form-signin input{
        border: 1px solid #7A9E9F;
    }

</style>
