<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 copyright">
            &copy; Coded with
        </div>
      </div>


    </div>
  </footer>
</template>
<script>
  export default {}

</script>
<style>

</style>
